<!-- this sub-page is included on every page in order to provide a footer -->

<div class="footer">
	<div class="container-fluid">
		<div class="row vertical-align">
			<div class="col-xs-4 links">
				<div class="pull-left">
					<p>HaploTeam {{ site.time | date: '%Y' }}</p>
					<p>
						<a href="https://www.igbmc.fr/" target="_blank">IGBMC</a> |
						<a href="https://www.unistra.fr/" target="_blank">UNISTRA</a>
					</p>
					<p>
						<a href="https://github.com/haploteam" target="_blank">
							<i class="fa fa-github fa-lg" style="color: var(--footer-text)"></i>
						</a>
						<a href="mailto:{{ site.email | encode_email }}" target="_blank">
							<i class="fa fa-solid fa-envelope fa-lg" style="color: var(--footer-text)"></i>
						</a>
						<a href="https://x.com/{{ site.x_username }}" target="_blank">
							<i class="fa-brands fa-x-twitter" style="color: var(--footer-text)"></i>
						</a>
					</p>
				</div>
			</div>
			<div class="col-xs-8 address">
				<div class="copy pull-right">
					<p>HaploTeam | <b>Schacherer Lab</b></p>
					<p>1 rue Laurent Fries | 67404 Illkirch | <b>FRANCE</b></p>
				</div>
			</div>
		</div>
	</div>
</div>
