<div class="members_page_grid">
	{% assign columns = include.columns %}
	{% assign width = 12 | divided_by: include.columns %}
	{% assign column_index = 0 %}
	{% assign pages_sorted = include.pages | sort: 'rank' %}

	{% for member_page in pages_sorted %}
	  {% if member_page.layout != "index_page" %}
		{% if column_index == 0 %}<div class="row">{% endif %}
		{% assign column_index = column_index | plus: 1 %}
		<div class="col-xs-{{width}}">
		  <a href="{{ site.baseurl }}{{ member_page.url }}" class="member-card">
			<div style="position: relative;">
			  <img class="responsive-pic-member"
			       src="{{ member_page.picture }}"
			       alt="{{ member_page.title }}"
			       onerror="this.src='../assets/images/missing.webp'"
			       loading="lazy" />
			  <div class="caption">{{ member_page.title }}</div>
			</div>
		  </a>
		</div>
		{% if column_index == columns %}</div>{% assign column_index = 0 %}{% endif %}
	  {% endif %}
	{% endfor %}

	{% if column_index != 0 %}</div>{% endif %}
</div>
